html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nunito", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c2f33;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  font-size: 0.8em;
  text-align: left;
}

.footerCommunity,
.footerServer {
  border-left: 1px solid rgb(19, 19, 19);
  padding-bottom: 15px;
}

/* Aligns the text from left to center in footer when browser window is 992px wide or less */
@media only screen and (max-width: 992px) {
  .footer {
    text-align: center;
  }
}

/* moves left borders in footer when browser window is 992px wide or less */
@media only screen and (max-width: 992px) {
  .footerCommunity,
  .footerServer {
    border-left: none;
  }
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

/* bob animation on hover */
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Float animation on hover */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Home page same day delivery Container  */
.samedayContainer {
  padding: 0;
  max-width: 100%;
  background-color: #36393f;
}

/* Home page same day delivery Row  */
.samedayRow {
  margin-top: 220px;
  padding: 150px 150px 0px;
}

.nocompContainer {
  max-width: 100%;
}

.nocompRow {
  padding: 50px 250px 0px;
}

.nocompPara,
.samedayPara {
  font-size: 22px;
  text-align: left;
  width: 36rem;
  margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
  .samedayRow {
    padding: 150px 70px 0px;
  }
  .nocompRow {
    padding: 50px 70px 0px;
  }
}

@media only screen and (max-width: 992px) {
  .nocompImgCol {
    padding: 0;
  }
  .nocompCol {
    padding: 0;
  }
  .nocompPara,
  .samedayPara {
    width: 300px;
  }
}

/* setting image width (home-page) */
.samedayImg,
.nocompImg {
  width: 420px;
}

@media only screen and (max-width: 992px) {
  .samedayImg,
  .nocompImg {
    width: 320px;
  }

  .samedayRow {
    padding: 150px 20px 0px;
  }
  .nocompRow {
    padding: 50px 20px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .nocompPara,
  .samedayPara {
    width: auto;
  }
  .nocompImgCol,
  .samedayImgCol {
    margin-bottom: 60px;
  }
  .samedayRow {
    padding: 50px 20px 0px;
  }
}

.cardDeck {
  margin: auto;
  width: 70rem;
  padding: 0px 1rem;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .cardDeck {
    padding: 0px 3rem;
  }
}

@media only screen and (max-width: 576px) {
  .cardDeck {
    padding: 0px 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .cardsHome {
    width: 20rem;
    margin-top: 3rem;
  }
}

.offerContainer {
  max-width: 100%;
  background-color: rgb(54, 57, 63);
  padding: 0px 0px 160px;
}

.offerHeader {
  text-align: center;
  font-weight: bold;
  padding: 0px 50px;
}

.offerPara {
  font-size: 18px;
  text-align: center;
  padding: 10px 100px;
}

/* small mobile devices */
@media only screen and (max-width: 320px) {
  .cardsHome {
    width: 16rem;
    margin-top: 3rem;
  }
  .offerHeader {
    text-align: center;
    font-weight: bold;
    padding: 0px 30px;
  }

  .offerPara {
    font-size: 18px;
    text-align: center;
    padding: 10px 60px;
  }

  .samedayImg,
  .nocompImg {
    width: 280px;
  }

  /* paragraph/header resize for mobile devices (home page) */
  .nocompPara,
  .samedayPara {
    width: 240px;
    font-size: 18px;
  }
}
